body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.retangulo {
  display: flex;
  height: 100vh;
}


.ladoEsquerdo {
  flex: 1;
  background: navy;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 50px;
  font-family: Poppins, Helvetica, sans-serif, sans-serif;
}

.left h2 {
  margin-bottom: 40px;
  font-size: 20px;
}

.left p {
  font-size: 20px;
  line-height: 1.4;
}

.ladoDireito {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  background: white;
  padding: 30px;
  width: 280px;
  border: 1px solid #ddd;
  text-align: center;
}

.form-box h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.form-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
}

.form-box button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

button.blue {
  background: #007bff;
  color: white;
}

button.google {
  background: white;
  border: 1px solid #ccc;
}

.form-box p.small {
  font-size: 12px;
  margin-top: 10px;
}

.form-box a {
  color: #007bff;
  text-decoration: none;
}